<div class="movie-information-details">
    <div class="col-md-4">
        <img class="movie-information-moviephoto" src="{{view.images}}{{ detail.details.poster_path }}" />
    </div>
    <div class="col-md-7">
        <h1>{{ detail.details.title }}</h1>
        <movie-rating ng-model="detail"></movie-rating>
        <h3 ng-if="detail.details.tagline">{{ detail.details.tagline }}</h3>
        <br />
        <span ng-if="detail.details.overview">
            {{ detail.details.overview }}
        </span>
        <br />
        <div class="sub-details row table-row" style="margin: 20px;">
            <year ng-model="detail.details.release_date"></year>
        </div>
        <div class="col-md-6">            
            <div class="detail">
                Running Time {{ detail.details.runtime }} minutes
            </div>
        </div>
        <div class="col-md-6">
            <money budget="detail.details.budget" revenue="detail.details.revenue"></money>
        </div>
        <div class="col-md-12">
            <span class="fa fa-tags genre-tag" ng-repeat="genre in detail.details.genres">
                {{ genre.name }}
            </span>
            <br />
            <span ng-if="detail.details.homepage">
                <a href="{{ detail.details.homepage }}" target=_new>{{ detail.details.homepage }}</a>
            </span>
        </div>
    </div>
    
    <div class="col-md-12" ng-if="detail.details.similar.results.length != 0">
        <similar-movies ng-model="detail.details.similar.results"></similar-movies>
    </div>
</div>