
<div id="{{mov}}" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{details.title}} - Trailer</h4>
            </div>
            <div class="modal-body">

                <div style="width:100%;margin: 0 auto;">
                    <iframe style="margin: 0 auto;" width="560" height="315" ng-src="{{ysrc}}" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


