<div class="application-header">
    <h1><a href="/#/" title="Homeward Bound">Awesome movie DB</a></h1>
    <div ng-if="!view.authenticated" class="pull-right login-container">
        <login></login>
    </div>
    <div ng-if="view.authenticated" class ="pull-right login-container">
    	<span class="login-msg-name">
    		Hi, {{view.session.fullName}} - 
    		<a style="cursor: pointer;" ng-click="finishSession()"> Finish Session </a>
    	</span>
    	<img class="login-profile-img" ng-src="{{view.session.profileImageURL}}">
    </div>
</div>
